<html>
    <head>
        <title>Leave Letter  management system</title>
    </head>
    <body>

<!-- <button type="button">index
    </button> -->
    <a href="index.html">
    <button>index
        </button>
    </a>

    


<br><!-- <button type="button">function
</button> -->
<a href="function.html">
    <button>function
 </button>
</a>


<br><!-- <button type="button">personal
</button> -->
<a href="personal.html">
    <button>personal
</button>
</a>


<br><!-- <button type="button">health
    </button> -->
<a href="health.html">
    <button>health
</button>
</a>


<br><!-- <button type="button">stomach
</button> -->
<a href="stomach.html">
    <button>stomach
</button>
</a>



<br><!-- <button type="button">complain
</button> -->

<button><a href="{{ url_for('complain') }}">complain</a></button>


</a>



<a href="{{ url_for('fever') }}"><button>home</button></a>

</body>
</html>


