<html>

    <head>
        <title>leave letter management system</title>
    </head>

    <body>
        <h1 align=center>Leave Letter Management System</h1>
        <br>from details :</br>
        <br>enter your name:<input type=text name=eyname />
        <br>
        <lable for="class">class</lable> &emsp;&emsp;&emsp;&emsp;
        <select name="class" id="class">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option> 
        </select>
                <br>
                <lable for="section">section</lable> &emsp;&emsp;&emsp;
                <select name="section" id="section">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                </select>
                <br>
                place:&emsp;&emsp;&ensp;&emsp;&emsp;<input type=text name=place/>
                </br>
                <br>to details:</br>
                <br><lable for="choose:">choose:</lable> &emsp;&emsp;&emsp;&emsp;
                <select name="choose"  id="section">
                    <option value="the head master,">the head master,</option>
                    <option value="the class teacher,">the class teacher</option>
                </select>
                <br><lable for="subject">subject:</lable>  &emsp;&emsp;&emsp;&emsp;
                <select name="subject"  id="subject">
                    <option value="request application for leave due to fever">request application for due to fever</option>
                    <option value="application for leave letter to principal">application for leave letter to principal</option>
                    <option value="application for leave due to function">application for leave due to function </option>
                    <option value="leave application for personal reason">leave application for personal reason </option>
                    <option value="leave application for complain letter">leave application for complain letter</option>
                    <option value="leave application for stomach pain">leave application for stomach pain</option>
                    <option value="leave application for head pain">leave application for head pain</option>
                </select>
                <br>
                number of days leave:<input type=number min=1 leave/>
                <br> 
                <input type=checkbox name="pdf">download as pdf<br>

            
                   <br> <button>save
                          </button>
                
                &emsp;&emsp;&emsp;&emsp;
                    <button>
                        download
                    </button>
                
                &emsp;&emsp;&emsp;&emsp;
                
                    <button>
                        share
                    </button>
                



    </body>

    </html>